<header>
    <ul>
      <li><a href='/'><%= 'Home' %></a></li>
      <li><a href='/tasks'><%= 'Task list' %></a></li>
      <li><a href='/new_task'><%= 'New task' %></a></li>
    </ul>
</header>

<main>
  <p>###########   Welcome to ToDo...   ###########</p>
  <p>The #1 Task Management App for professionals on a budget</p>
  <div>
    <img id="todo" src="../images/todo.png" alt="todo logo"/>
  </div>
</main>