<form action='/new_task' method='get'>
  Task name: <input type='text' name='name' autofocus>
  <br>
  Task owner: <input type='text' name='owner' autofocus>
  <br>
  Due-date:   <input type='date' name='due_date' autofocus>
  <br>
  Details:       <input type='text' name='details' autofocus>
  <br>
  Priority:       <input type='text' name='priority' autofocus>
  <br>
  Assigned-to: <input type='text' name='assigned_to' autofocus>
  <br>
  <button><%= 'Create new task!' %></button>
</form>


